@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Repository:</strong><a href="https://github.com/wki/AzureDemo" target="_blank">https://github.com/wki/AzureDemo</a><br/>
</address>

<address>
    <strong>Mail:</strong> wolfgang [at] kinkeldei [dot] de<br />
</address>