@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<StatisticsCollector.Measure.Sensor>

<div class="row">
    <div class="col-md-12">
        <h2>Latest Measures</h2>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Sensor</th>
                    <th>Measured On</th>
                    <th>Value</th>
                    <th>Alarm</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0; }
                @foreach (var sensor in Model)
                {
                    <tr>
                        <td>@sensor.Id</td>
                        <td>@sensor.LatestMeasurement.MeasuredOn</td>
                        <td>@sensor.LatestMeasurement.Result</td>
                        <td>-</td>
                        <td>
                            <!-- TODO: Icons einblenden -->
                            <a href="#" class="_graph" style="position: relative;">
                                H
                                <div id="graph-@(i)-h" style="position: absolute; top: 0px; right: 0px; width: 640px; height: 400px; display: none; z-index: 1000; "><img data-src="/api/graph/@sensor.Id/hourly" /></div>
                            </a>
                            &nbsp;
                            <a href="#">d</a>

                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>

