@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<StatisticsCollector.Measure.Sensor>

<div class="row">
    <div class="col-md-12">
        <h2>Latest Measures</h2>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Sensor</th>
                    <th>Measured On</th>
                    <th>Value</th>
                    <th>Alarm</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0; }
                @foreach (var sensor in Model)
                {
                    <tr>
                        <td>@sensor.Id</td>
                        <td>@sensor.LatestMeasurement.MeasuredOn.ToString("yyyy-MM-dd HH:mm")</td>
                        <td align="right">@sensor.LatestMeasurement.Result</td>
                        <td>-</td>
                        <td>
                            <!-- TODO: Icons einblenden -->
                            <span class="chart _chart">
                                <img src="~/Images/clock.png" alt="Hourly" />
                                <img class="chart-overlay _overlay" data-src="/api/graph/@sensor.Id/hourly" />
                            </span>
                            &nbsp;
                            <span class="chart _chart">
                                <img src="~/Images/calendar.png" alt="daily" />
                                <img class="chart-overlay _overlay"  data-src="/api/graph/@sensor.Id/daily" />
                            </span>

                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>

