@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<StatisticsCollector.Measure.Sensor>

<div class="row">
    <div class="col-md-12">
        <h2>Latest Measures</h2>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Sensor</th>
                    <th>Measured On</th>
                    <th>Value</th>
                    <th>Alarm</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sensor in Model)
                {
                    <tr>
                        <td>@sensor.Id</td>
                        <td>@sensor.LatestMeasurement.MeasuredOn</td>
                        <td>@sensor.LatestMeasurement.Result</td>
                        <td>-</td>
                        <td>Xxx</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>