<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="Wki.DDD" version="1.0.6.0" targetFramework="net451" />
</packages>